{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/challenges/challenges.css">
    <title>Challenges / Goals</title>
</head>
<body>
    <ul>
    {% for month in months_key %}
        <li><a href="/challenges/{{ month }}">{{ month }}</a>
        {% if month == 'december' or month == 'january' or month == 'february' %} 
        🥶🥶🥶
        {% elif month == 'april' or month == 'march' %} 
        🌧️🌧️🌧️
        {% elif month == 'may'%} 
        💐💐💐
        {% elif month == 'june' or month == 'july' or month == 'august' %} 
        ☀️☀️☀️
        {% elif month == 'september' or month == 'october' or month == 'november' %} 
        🍁🍁🍁
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>